<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/myMeniu.css" />

</head>
<body>
    <ul class="menu">
        <li><a href="@Url.Action("Index","Home")">Nume Magazin</a></li>
        <li><a href="@Url.Action("Index","Home")">Home</a></li>
        <li><a href="@Url.Action("ListaCumparaturi","Home")">Lista Cumparaturi</a></li>
        <li><a href="@Url.Action("Login","Home")">Login</a></li>

        <li class="slider"></li>
    </ul>
    


    @RenderBody()


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
