<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/myMeniu.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <ul class="menu">
        <li id="idLI"><a href="@Url.Action("Index","Home")">Nume Magazin</a></li>
        <li><a href="@Url.Action("Index","Home")">Home</a></li>
        <li><a href="@Url.Action("ListaCumparaturi","Home")">Lista Cumparaturi</a></li>
        <li><a href="@Url.Action("CosCumparaturi","Home")">Cos</a></li>
        <li><a href="@Url.Action("Login","Home")">Login</a></li>
        <li>
            <div class="dropdown">
                <button class="dropbtn"> <i class="fa fa-user-circle-o" style="font-size:24px"> </i></button>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href=" @Url.Action("Deconectare", "Home")">Log out</a>
                   
                </div>
            </div>
        </li>

        <li class="slider"></li>

    </ul>
  


    @RenderBody()


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
