@model ProiectII.Models.MyModel

@{
    ViewBag.Title = "CosCumparaturi";
}

<h2>Cosul meu</h2>
<link rel="stylesheet" href="~/Content/CosCumparaturi.css" />
<div class="grid-container">

    @foreach (var item in Model.products)
    {
    <div class="grid-item">
        <table>
            <tr>
                <td>   <img class="imageClass" src="@Html.DisplayFor(modelItem => item.Image)" /></td>
      
               <td>
                   <table>
                       <tr>
                           <td>
                               @Html.DisplayFor(modelItem => item.Name)
                           </td>
                       </tr>
                       <tr>
                           <td>
                               @Html.DisplayFor(modelItem => item.Description)
                           </td>
                       </tr>
                       <tr>
                           <td>
                               @Html.DisplayFor(modelItem => item.Price)
                           </td>
                       </tr>
                      
                   </table>
                
                </td>
            </tr>
           
        </table>

    </div>
    }


    <form class="box" action="Cumpara" method="post">
        <table>
            <tr>  Pret total: $ @Html.DisplayFor(modelItem => Model.price)</tr>
            <tr> <input type="submit" name="" value="Cumpara" /></tr>
           
        </table>
    </form>
</div>


    @section Re{
        <div>
            @foreach (var item in Model.user)
            {
                @Html.ActionLink(@Html.DisplayFor(modelItem => item.name).ToString(), @Html.DisplayFor(modelItem => item.page).ToString())
            }
            <a href=" @Url.Action(" Deconectare", "Home" )">Log out</a>
        </div>
    }
