@model ProiectII.Models.MyModel

@{
    ViewBag.Title = "Remove";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" href="~/Content/Delete.css" />

<div style=" margin: auto; width: 50%; padding: 10px;">
    <h2>Delete</h2>

    <h3>Are you sure you want to delete this?</h3>
    <h4>Product</h4>
    <hr />
    <table>
        <tr>
            <td>@Html.DisplayNameFor(model => model.product.Code)  @Html.DisplayFor(model => model.product.Code)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.product.Name)  @Html.DisplayFor(model => model.product.Name)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.product.Price)  @Html.DisplayNameFor(model => model.product.Price)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.product.Category) @Html.DisplayNameFor(model => model.product.Category)</td>
        </tr>

    </table>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="modifA">
            <input type="submit" value="Delete" class="" /> 
            @Html.ActionLink("Back to List", "Index")

        </div>
    }





    @section Re{
        <div>
            @foreach (var item in Model.user)
            {
                @Html.ActionLink(@Html.DisplayFor(modelItem => item.name).ToString(), @Html.DisplayFor(modelItem => item.page).ToString())
            }
            <a href=" @Url.Action("Deconectare", "Home")">Log out</a>
        </div>
    }
