@model ProiectII.Models.MyModel
@{
    ViewBag.Title = "Detalii";
}


<link rel="stylesheet" href="~/Content/myDetalii.css" />

<div>

    <div id="divName">
        <a>  @Html.DisplayFor(model => model.product.Name)</a>
    </div>
    <div id="DescriereT">
        <table>
            <tr>
                <td>
                    <img src="@Html.DisplayFor(model => model.product.Image)" />
                </td>
                <td>
                </td>
                <td>
                    <div>
                        <table class="tDereada">
                            <tr>
                                <td>
                                    Descriere:  @Html.DisplayFor(model => model.product.Description)
                                </td>
                            </tr>
                            <br>
                            <tr>
                                <td>
                                    Pret:  @Html.DisplayFor(model => model.product.Price)
                                </td>
                            </tr>
                            <br>

                            <tr>
                                <td>

            
                                    <input id="button1" type="submit" name="" value="Cumpara" onclick="location.href='@Url.Action("AddProdusCos","Home", new { id = (Model.product.Id) })'" />
                              
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>

        </table>
    </div>
</div>




@section Re{
    <div>
        @foreach (var item in Model.user)
        {
            @Html.ActionLink(@Html.DisplayFor(modelItem => item.name).ToString(), @Html.DisplayFor(modelItem => item.page).ToString())
        }
        <a href=" @Url.Action("Deconectare", "Home")">Log out</a>
    </div>
}