@model ProiectII.Models.MyModel
@{
    ViewBag.Title = "Login";
}


<link rel="stylesheet" href="~/Content/Login.css" />

<div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <form class="box" action="Login" method="post">


                        <h2>Login</h2>
                        <input type="text" name="Email" placeholder="Email" />


                        <input type="password" name="Password" placeholder="Password" />


                        <input type="submit" name="" value="Login" />

                        <a>Creare cont nou: </a><br /><a href="@Url.Action("SingUp","Home")">Sign Up</a>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
@TempData["buttonval1"]

@section Re{
    <div>
        @foreach (var item in Model.user)
        {
            @Html.ActionLink(@Html.DisplayFor(modelItem => item.name).ToString(), @Html.DisplayFor(modelItem => item.page).ToString())
        }
        <a href=" @Url.Action("Deconectare", "Home")">Log out</a>
    </div>
}